<?xml version="1.0"?>
<model>
  <name>aruco_target</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>ERC Researcher</name>
    <email>researcher@example.com</email>
  </author>

  <description>
    A 20x20cm ArUco marker for the Night Task Sim-to-Real experiment.
  </description>
</model>
